body {
	background-color: #b3b3b2;
	color: black;
}

a {
	text-decoration: none;
	color: #ffffff;
}

a:visited {
	color: #ffffff;
}

a:hover {
	color: #e3e3e3;
}

div.wrapper {
	width: 1280px;
	margin: 0 auto;
}
h2 {
	font-size: 2.0em;
	color: #f3f3f3;
	text-shadow: 0 1px black;
	margin-bottom: 10px;
}
div.scene {
	float: left;
	margin-top: 100px;
}

ol.description, ul.credits {
	float: left;
	margin-top: 140px;
}

ul.credits {
	width: 350px;
	padding-left: 60px;
}

li {
	width: 100%;
	padding: 5px 0 5px 0;
}

li.github {
	margin-top: 20px;
}

p {
	margin-bottom: 5px;
	line-height: 160%;
}

div.creator {
	margin: 10px 0 10px 0;
}

div.creator p {
	margin-top: 10px;
}

div.screen {
	background-image: url('../images/home.png') !important;
}

footer {
	border-top: 1px solid #e3e3e3;
	background-color: #131313;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 90px;

	color: white;
	text-shadow: 0;
	font-size: 2.0em;
}

footer p {
	margin: 0 20px 0 50px;
	line-height: 90px;
	float: left;

	text-shadow: 0 -1px black;
}

footer img {
	opacity: 0.25;
	margin-top: 15px;
}

footer img.supported {
	opacity: 1;
}
